/* --- FOOTER --- */
.footer {
    padding: 4rem 5% 2rem;
    border-top: 1px solid rgba(244, 244, 244, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    opacity: 0.6;
    margin-top: auto; /* Pousse le footer tout en bas */
}

.footer-left {
    color: var(--text-main);
}

.footer-right {
    display: flex;
    gap: 1.5rem;
}

.footer-right a {
    color: var(--text-main);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-right a:hover {
    color: var(--accent-yellow);
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }
}