/* --- NAVBAR --- */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5%; /* J'ai légèrement réduit le padding pour que la barre prenne moins de place au scroll */
    align-items: center;
    
    /* La magie pour qu'elle te suive */
    position: sticky;
    top: 0;
    z-index: 100; /* On le met à 100 pour être sûr qu'elle passe au-dessus des projets */

    /* L'effet Glassmorphism (Verre flouté) */
    background-color: rgba(13, 19, 79, 0.22); /* Ton fond bleu avec 85% d'opacité */
    backdrop-filter: blur(7px); /* Floute les éléments qui passent en dessous */
    -webkit-backdrop-filter: blur(12px); /* Pour que ça marche aussi sur les appareils Apple */
    
    /* Une ligne ultra fine en bas pour délimiter proprement */
    border-bottom: 1px solid rgba(244, 244, 244, 0.05);
}


.logo {
    font-family: 'Newyork', serif;
    font-size: 2.5rem;
    color: var(--accent-blue);
    letter-spacing: 2px;
    min-width: 250px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: var(--text-main);
    text-decoration: none;
    font-size: 0.9rem;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.nav-links a:hover {
    opacity: 1;
}