@import url('variables.css');
@import url('header.css');
@import url('hero.css');
@import url('projects.css');
@import url('footer.css');

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-primary); 
    color: var(--text-main);
    line-height: 1.6;
    overflow-x: hidden;     
}