:root {
    --bg-primary: #F5F2EB;
    --text-main: #0B162C;
    --accent-blue: #005BB5;
    --accent-grey: #5C6B7D;   
}

@font-face {
    font-family: 'Newyork';
    src: url('../fonts/NewYork\\ PERSONAL\\ USE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.text-blue {
    color: var(--accent-blue);
}